@model InstructorCreateViewModel
@{
    ViewData["Title"] = "Edit";
    SelectList DeptLists = new SelectList(ViewBag.DeptList, "Id", "Name");
    SelectList CrsLists = new SelectList(ViewBag.CrsList, "Id", "Name");
}
<div class="container">
<h1>Edit</h1>
<form method="post" asp-action="Update" asp-controller="Instructor" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
     <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span> </div>
     <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span> </div>
     <div>
       <label asp-for="Image"></label>
        <input asp-for="Image" value="@Model.Photo" type="file" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <select asp-items="DeptLists" asp-for="Dept_Id" class="form-control" onchange="GetCoursesData()">
    </select>

    <select  asp-for="Crs_Id" class="form-control">
     </select>
    <input type="submit" class="btn btn-primary" value="Update" />
</form>
</div>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function  GetCoursesData()
    {
        var DeptId=document.getElementById("Dept_Id").value;
        $.ajax(
                {
                    url: "/Instructor/GetCourse",
                    data: {"DeptId":DeptId},
                    success: function(result)
                    {
                        document.getElementById("Crs_Id").innerHTML = "";
                       // console.log(result)
                     for(let Crs of result)
                     {
                         document.getElementById("Crs_Id").innerHTML+= 
                            "<option value="+Crs.id+">"+Crs.name+"</option>";
                     }
                    }
                }
            );
    }
</script>
